extends layout

block content
  h1= title
  p Welcome to #{title}
  #images
    //-each image in images      TODO komplett raus?
        image(src="images/"+image+".png", id=image, height="16px", width="16px")
  #canvasDiv
    canvas(width="800px",height="480px",id="mainCanvas")
